doctype html
html
    head
        script(src='/javascripts/resource/jqueryMin.js')
        script(src='/javascripts/resource/leaflet-src.js')
        script(src='/javascripts/resource/LightCluster.js')
        script(src='/javascripts/resource/MockData/ClusterData/ClusterData.js')
        script(src='/javascripts/resource/MockData/ClusterData/GeoHash2Data.js')
        script(src='/javascripts/resource/MockData/ClusterData/GeoHash3Data.js')
        script(src='/javascripts/resource/MockData/ClusterData/GeoHash4Data.js')
        script(src='/javascripts/resource/MockData/ClusterData/GeoHash5Data.js')
        script(src='/javascripts/resource/MockData/ClusterData/GeoHash6Data.js')
        script(src='/javascripts/resource/MockData/PointData/PointData.js')
        script(src='/javascripts/resource/MockData/PointData/PointsAttributes.js')
        script(src='/javascripts/resource/SlideOutMenu/SlideOutMenuCommon.js')
        link(rel='stylesheet', href='/stylesheets/leaflet.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/slideOutMenu.css')

    <body class="inheritance">
    block content
    </body>
